
h1{
    color: #f72585;
    text-align: center;
}
h2{
    color: #3f37c9;
}
p{ 
    color: #457b9d;
}
/*De este modo declaramos un id o identificador, solo debemos aplicarlo sobre un unico elemento del html*/
#titulo_principal{
    color: #0f2c52;
    text-align: center;
    margin: 15px;
}

div{
    margin: 10px;

}

/*De este modo declaramos una clase*/
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
}

.subrayado{
    color: #f72585;
}

.subrayado2{
    color: #560bad;
}